{% extends "base.html" %}

{% block content %}


<h1>Sign Up</h1>
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <p>
        Please enter your name: {{ form.name(size = 20) }} <br>
        Please enter your phone number: {{ form.phone_number(size = 20) }} <br>
        Please enter your email: {{ form.email(size = 20) }} <br>
        Please create a password: {{ form.password(size = 20) }} <br>
        Please confirm your password: {{ form.confirm(size = 20) }}
    </p>
    <p><input  type="submit" value="Sign Up"></p>
<form>

{% endblock %}
